body
{
    background-color: rgb(163, 223, 171);
}

.startpage
{
    text-align: center;
}

.button
{
    color: black;
    background-color: whitesmoke;
    text-decoration: none;
    border: 2pt solid black;
    padding: 3pt;
    width: min-content;
    border-radius: 12px;
    font-size: xx-large;
}

.button:hover
{
    background-color: rgb(31, 190, 177);
    color: white;
    border: 2pt solid black;
    padding: 5pt;
    border-radius: 12px;
    transition: 500ms;
}

.topcolor
{
    background-color: rgb(106, 188, 117);
    border: 2pt solid rgb(106, 188, 117);
}

.Title
{
    font-size: 45pt;
}

#Tittle
{
    font-size: 40pt;
}

#emoji
{
    font-size: 200pt;
    margin-block-start: 20pt;
    margin-block-end: 20pt
}
#title
{
    font-size: 38pt;
}
#TITTLE
{
    font-size: 60pt;
}
#tittle
{
    color: yellow;
    font-size: 100pt;
}
#TITLE
{
    font-size: 200pt;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.body1
{
    background-color: rgb(148, 0, 193);
}
.TiTTle
{
    color: yellow;
    margin-top: 0.5;
    font-size: 60pt;
}
.TiTtle
{
    color: yellow;
    margin-top: 1rem;
    font-size: 60pt;
}
#TiTle
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 50pt;
}